{{#bs-button type="primary" icon="glyphicon glyphicon-pencil" onClick=(action 'editQuestionShow')}}Edit Question{{/bs-button}}
{{#if editQuestion}}
  {{#bs-modal as |modal|}}
    {{#modal.header}}
    <h3 class="modal-title">Edit question</h3><i class="glyphicon glyphicon-pencil"></i>
    {{/modal.header}}
    {{#modal.body}}
      <form>
        <div class="form-group">
          <label for="update-question">Title</label>
          {{input class="form-control" value=question id="update-question" placeholder=model.question}}
        </div>
        <div class="form-group">
          <label for="update-author">Your Name</label>
          {{input class="form-control" value=author id="update-author" placeholder=model.author}}
        </div>
        <div class="form-group">
          <label for="update-content">Details</label>
          {{input class="form-control" value=content id="update-content" placeholder=model.content}}
        </div>
        <div class="form-group">
          <label for="update-notes">Notes</label>
          {{input class="form-control" value=notes id="update-notes" placeholder=model.notes}}
        </div>

        {{#bs-button  type="primary" onClick=(action 'updateQuestion' model)}}Save Question{{/bs-button}}

      </form>
    {{/modal.body}}
  {{/bs-modal}}
{{/if}}
