@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

$navy: #193036;
$medGreen: #1d9000;
$brtGreen: #92d819;

$Londrina: "Londrina Solid", sans-serif;
